.btn-primary {
    background-color: #6c5ce7 !important;
    border-color: #6c5ce7 !important;
}

.btn-success {
    background-color: #00b894 !important;
    border-color: #00b894 !important;
}

.btn-danger {
    background-color: #d63031 !important;
    border-color: #d63031 !important;
}
